.work-info {
    border-left: 3px solid rgba(150, 189, 223, 1);
    position: relative;
    background-color: rgba(150, 189, 223, 0.4);
    padding-top: 3px;
}



.time::after {
    content: "";
    position: absolute;
    right: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(150, 189, 223, 1);
}

.time {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}