.work-info {
    border-left: 3px solid rgb(var(--dark-blue));
    position: relative;
    background-color: rgba( var(--dark-blue), 0.5);
    padding-top: 3px;
}



.time::after {
    content: "";
    position: absolute;
    right: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(var(--dark-blue));
}

.time {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}