nav {
	text-align: center;
	background-color: rgba(var(--dark-gray), 0.7);
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	padding: 1.2em 0;
	height: 4em;
}

nav span {
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}



nav span.activeClass {
	border-bottom-color: var(--blue);
}
